<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <link type="text/css" rel="stylesheet" href="/omms/gpio/css/gpio.css" />
   {% if _mode == "iframe": %}
      <link type="text/css" rel="stylesheet" href="/omms/gpio/css/iframe.css" />
   {% elif _mode == "mobile": %}
      <link type="text/css" rel="stylesheet" href="/omms/gpio/css/mobile.css" />
   {% endif %}
   <script src="/omms/gpio/js/conf.js"></script>
   <script src="/omms/gpio/js/gpio.js"></script>
   <title>GPIO - Index</title>
</head>
<body>
   {% include "relays.xml" %}
   {% include "conf.xml" %}
</body>
</html>
