<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
   <link type="text/css" rel="stylesheet" href="/omms/gpio/css/gpio.css" />
   {% if _mode == "iframe": %}
      <link type="text/css" rel="stylesheet" href="/omms/gpio/css/iframe.css" />
   {% elif _mode == "mobile": %}
      <link type="text/css" rel="stylesheet" href="/omms/gpio/css/mobile.css" />
   {% endif %}
   <script src="/omms/gpio/js/conf.js"></script>
   <script src="/omms/gpio/js/gpio.js"></script>
   <title>GPIO - Index</title>
</head>
<body>
   <input type="hidden" id="pageMode" value="{{ _mode }}" />
   {% include "relays.xml" %}
   {% include "conf.xml" %}
</body>
</html>
