
div.clt-head {
   height: 8vh;
   line-height: 8vh;
   font-weight: bold;
   font-size: 4.2vh;
   font-weight: bold;
}

div.relay-col {
   width: 54vw;
   margin: 4vh auto;
}

div.gpio-channel {
   width: 16vw;
   height: 4vw;
   margin: 1vh 0;
   border: 1px solid gray;
   border-radius: 1vh;
}

div.head {
   font-size: 2.8vh;
   font-weight: bold;
   margin-bottom: 0;
   text-indent: 1vh;
}

div.head p {
   display: inline-block;
   margin-bottom: 0;
}

dtype {
   display: inline-block;
   font-weight: lighter;
   size: 1vh;
   text-indent: 1vw;
   padding: 2px;
   border: 1px solid rgb(78, 84, 117);
   border-radius: 4px;
}

div.disable {
   opacity: 0.2;
}

div.gpio-channel:not(.disable):hover {
   cursor: pointer;
}

div.channel-conf {
   display: none;
   height: auto;
   width: 44vw;
   border: 2px solid darkblue;
   border-radius: 1vh;
   background-color: rgba(211, 211, 211, 0.2);
}

div.ln-ch-info {
   width: 96%;
   height: 3.2vh;
   margin: 1vh auto;
   line-height: 3.2vh;
   text-indent: 1vw;
   font-size: 2vh;
   border-bottom: 1px dotted darkblue;
}

div.ln-time {
   width: 88%;
   height: 4vh;
   line-height: 4vh;
   margin: 1vh auto;
   text-align: right;
   font-size: 2vh;
}

div.ln-btns {
   width: 80%;
   margin: 2vh auto;
   text-align: right;
}

div.ln-btns input[type=button] {
   padding: 6px 12px;
   font-size: 2.2vh;
   margin-left: 1vw;
   border: 1px solid darkgrey;
}

/* buttons */
input[type=button]:hover {
   cursor: pointer;
}

div.selTime {
   display: inline-block;
}

div._HH, div._MM {
   display: inline-block;
}

#selMM_TimeOn, #selMM_TimeOff {
   width: 4vw;
}


#feedbackBox {
   display: block !important;
   width: 90% !important;
   margin: 0.5vh auto !important;
   height: 4vh !important;
   line-height: 4vh !important;
   font-size: 2.2vh;
   text-align: left;
   text-indent: 1vw;
   border: 1px solid darkblue;
   border-radius: 4px;
}
