
body, html {
   margin: 0;
   padding: 0;
}

div.clt-head {
   width: 96vw;
   margin: 4vw auto; 
   font-size: 7.6vw;
   font-weight: bold;
   text-indent: 1vw;
   border: 1px solid darkblue;
   border-radius: 4px;
}

div.relay-col {
   width: 96vw !important;
}

div.relay-box {
   width: 96%;
   margin: 4vh auto;
   border: 0px dotted rebeccapurple;
}

div.gpio-channel {
   display: inline-block !important;
   width: 22%;
   height: 8vh;
}

div.ln-time {
   display: none;
}

input#btnSave {
   display: none;
}

div.channel-conf {
   width: 98% !important;

}

div.ln-btns {
   width: 98% !important;
   text-align: center;
}

div.ch-num {
   height: inherit !important;
   line-height: inherit !important;
   font-size: 3vh;
   text-align: center;
}

input#txtChnlName {
   display: inline-block !important;
}
