
body, html {
   margin: 0;
   padding: 0;
}

div.clt-head {
   width: 96vw;
   margin: 4vw auto; 
   font-size: 8vw;
   border: 1px solid darkblue;
   font-weight: bold;
}

div.relay-col {
   width: 96vw !important;
}

div.relay-box {
   width: 90%;
   margin: 4vh auto;
   border: 1px dotted rebeccapurple;
}

div.gpio-channel {
   display: inline-block !important;
}
