
div.clt-head {
   width: 98vw;
   margin: 4vh auto; 
   font-size: 6vh;
   border: 1px solid darkblue;
   font-weight: bold;
}

div.relay-col {
   width: 96vh !important;
}

div.relay-box {
   width: 90%;
   margin: 4vh auto;
   border: 1px dotted rebeccapurple;
}
