<div id="xmlSettings">
   <div id="settingsMenuHead" class="settings-menu-head">
      <h1>settings</h1>
      <p>configure system settings</p>
   </div>
   <div id="settingsMenuBody" class="settings-menu-body">
      <div class="submenu-buttons">
         <br/><br/>
         <fieldset class="settings-btns">
            <legend>Editable</legend>
            <navbtn id="settingsClient" tbl="clients" class="nav-btn">
               <div class="nav-btn-lbl">
                  <span>Clients</span>
               </div>
               <div class="nav-sub-btns">
                  <div></div>
               </div>
            </navbtn>
            <navbtn id="settingsClientMeterCircuits" tbl="client_circuits" class="nav-btn">
               <div class="nav-btn-lbl">
                  <span>Client Circuits</span>
               </div>
               <div class="nav-sub-btns">
                  <div></div>
               </div>
            </navbtn>
         </fieldset>
         <br/><br/>
         <fieldset class="settings-btns">
            <legend>Viewable Only</legend>
            <navbtn id="settingsElecMeterCircuits" tbl="elec_meter_circuits" class="nav-btn">
               <div class="nav-btn-lbl">
                  <span>Elec. Meter Circuits</span>
               </div>
               <div class="nav-sub-btns">
                  <div></div>
               </div>
            </navbtn>
         </fieldset>
      </div>
   </div>
   __script
      _omms.xmlsecs.settings();
      _omms.xmlsecs.LOADED_XML = "xmlSettings";
      console.log(`##script: ${_omms.xmlsecs.LOADED_XML} :script##`);
   script__
</div>
