<div id="xmlSettings">
   <div id="settingsMenuHead" class="settings-menu-head">
      <h1>settings</h1>
      <p>configure system settings</p>
   </div>
   <div id="settingsMenuBody" class="settings-menu-body">
      <div class="submenu-buttons">
         
         <br/><br/>
         <navbtn id="settingsClient" tbl="clients" class="nav-btn">
            <div class="nav-btn-lbl">
               <span>Clients</span>
            </div>
            <div class="nav-sub-btns">
               <div></div>
            </div>
         </navbtn>
         
         <navbtn id="settingsClientMeterCircuits" tbl="client_meter_circuits" class="nav-btn">
            <div class="nav-btn-lbl">
               <span>ClientMeterCircuits</span>
            </div>
            <div class="nav-sub-btns">
               <div></div>
            </div>
         </navbtn>

         <br/><br/>
         <navbtn id="settingsElecMeterCircuits" tbl="elec_meter_circuits" class="nav-btn">
            <div class="nav-btn-lbl">
               <span>ElecMeterCircuits</span>
            </div>
            <div class="nav-sub-btns">
               <div></div>
            </div>
         </navbtn>
         
         <!-- <navbtn id="settingsMeters" tbl="meters" class="nav-btn">
            <div class="nav-btn-lbl">
               <span>meter(s)</span>
            </div>
            <div class="nav-sub-btns">
               <div></div>
            </div>
         </navbtn> -->
         <!--
         <navbtn id="settingsClientSpaceCircuits" tbl="client_space_circuits" class="nav-btn">
            <div class="nav-btn-lbl">
               <span>client::space::circuits</span>
            </div>
            <div class="nav-sub-btns">
               <div></div>
            </div>
         </navbtn>
         -->

      </div>
   </div>
   __script
      if (_omms.xmlsecs)
         _omms.xmlsecs.settings();
      else
         console.log("_omms.xmlsecs is false");
   script__
</div>